<body class="d-flex flex-column min-vh-100">
    <footer class="footer footer mt-auto">
        <div class="footer-content">
            <p>© 2026 Dopamine Diner. All rights reserved.</p>
            <p><em>Crafting happiness, one boost at a time</em></p>
        </div>

        <!-- Back to top button -->
        <button class="back-to-top" id="backToTop">
            <i class="fa-solid fa-angle-up"></i> <!-- Up arrow -->
        </button>
    </footer>
</body>