<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Brand / Logo -->
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <img src="/images/logo.png" alt="Logo" width="50" height="50" class="d-inline-block me-2">
      <span
        style="font-family: 'Plus Jakarta Sans', sans-serif; font-weight: 700; font-size: clamp(1rem, 2.5vw, 1.5rem); letter-spacing: -0.3px; padding-top: 0.5rem; display: inline-block;">
        DopamineDiner
      </span>
    </a>


    <!-- Hamburger for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar items -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


        <li class="nav-item">
          <a class="nav-link" href="listings/addNew">Add New</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cart">My Cart</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

        <div class="navbar-nav">
          <% if(!currUser){ %>
    
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">SignUp</a>
          </li>
          <% } %>

          <% if(currUser){ %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
          <% } %>

        </div>

      </ul>
    </div>

  </div>
</nav>