<% layout("/layouts/boilerplate") %>

    <body>
        <h1>All Listings</h1>
        <!-- <form method="GET" action="/listings/new">
        <button>Create New</button>
    </form> -->
        <ul>
            <% for(let listing of allListings){ %>

                <div class="activity-card">

                    <img src="<%= listing.image %>" alt="Activity Image" class="card-image">

                    <!--  ALWAYS visible title -->
                    <div class="activity-title-bar">
                        <%= listing.name %>
                    </div>

                    <!-- Hover overlay -->
                    <div class="card-overlay">

                        <span class="activity-name">
                            <%= listing.name %>
                        </span>

                        <div class="card-buttons">
                            <a href="/listings/<%= listing._id %>" class="btn preview">
                                <i class="fas fa-eye"></i> View
                            </a>

                            <button class="btn copy">
                                <i class="fas fa-plus"></i> Add to Cart
                            </button>
                        </div>

                    </div>

                </div>

                <% } %>
        </ul>

    </body>